@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(222, 218, 213, 0.671);
  background-image: url("https://a-static.besthdwallpaper.com/cigarette-smoke-against-a-black-background-wallpaper-2560x1600-78488_7.jpg");
  background-size: auto;
  background-repeat: no-repeat;
}

main {
  width: 100%;
}

.first_container {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container_button {
  display: flex;
  justify-content: center;
}

button {
  text-decoration: none;
  position: absolute;
  border: none;
  font-size: 14px;
  font-family: inherit;
  color: #fff;
  width: 15em;
  height: 4em;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 300%;
  border-radius: 30px;
  z-index: 1;
  animation: ani 8s linear infinite;
  border: none;
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

button.active:before,
button:hover:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 35px;
  transition: 1s;
}

button.active:hover::before,
button:hover::before {
  filter: blur(20px);
}

/*  Modal */

/* Hide the modal by default */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Style the modal content */
.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 800px;
  border-radius: 1em;
}

/* Style the close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Style the card container */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Style the card */
.card {
  width: 300px;
  margin: 10px;
  padding: 20px;
  border: 1px solid #03a9f4;
  border-radius: 5px;
  text-align: center;
}

.card3 {
  width: 300px;
  margin: 10px;
  padding: 20px;
  background-color: #03a9f4;
  border-radius: 5px;
  text-align: center;
  color: white;
}

.card1 {
  width: 100%;
  text-align: center;
}


.card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.card h3 {
  margin-top: 0;
}

.card p {
  margin-bottom: 0;
}

h3 {
  display: flex;
  justify-content: center;
}

.card_maps {
  width: 80%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

iframe {
  width: 300px;
  height: 200px;
  border-radius: 5%;
}

h5 {
  background: linear-gradient(90deg, #03a9f4, #03a9f4);
  color: white;
  text-align: center;
}

.info {
  background: linear-gradient(90deg, #03a9f4, #03a9f4);
  width: 40%;
  text-align: center;
  color: white;
  border-radius: 1rem;
  cursor: pointer;
}

/*  ------------------------- popover */

/* Estilos para el popover */

.popover-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popover-btn {
  cursor: pointer;
  background-color: #03a9f4;
  color: white;
  padding: 0.5em;
  border-radius: 1em;
  width: 10em;
}

.popover {
  position: absolute;
  top: 100%;
  left: -100%;
  transform: translateX(-50%);
  width: 140px;
  padding: 10px;
  background-color: #03a9f4;
  color: #fefefe;
  border: 1px solid #ccc;
  font-size: 14px;
  visibility: hidden;
  transition: visibility 0s linear 0.2s, opacity 0.2s linear;
}

.popover.show {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.popover::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #ccc transparent;
}

/* #card1 {
  text-decoration: line-through;
}

#card2 {
  text-decoration: line-through;
} */

h1,
h2 {
  color: white;
}

.containerInfo {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h4 {
  text-align: center;
}

@media (max-width: 768px) {
  .popover {
    left: 10%;
    top: 20%;
  }
}

@media (min-width: 1000px) {
  iframe {
    width: 800px;
  }
}
